<a href="https://colab.research.google.com/github/VMiokova/Project/blob/main/borrower_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Исследование надежности заемщиков

## Изучение общей информации о данных

In [ ]:
import pandas as pd
from google.colab import drive

In [ ]:
drive.mount('/gdrive')
file_id = '1vFtJ5HnPO8A8p5GsvGjvdLBaH2KQVYZY'
link = 'https://drive.google.com/uc?id=' + file_id

data = pd.read_csv(link, error_bad_lines=False)
data.head(20)

Mounted at /gdrive

<ipython-input-2-64d5049d84d9>:5: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv(link, error_bad_lines=False)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [ ]:
data['days_employed'] = data['days_employed'].abs()

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [ ]:
data['total_income'] = data['total_income'].astype(int)

<ipython-input-13-990472087ee4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [ ]:
data['education'] = data['education'].str.lower()

<ipython-input-14-d4b849f854d7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['education'] = data['education'].str.lower()

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

<ipython-input-18-0bc713f3049f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['total_income_category'] = data['total_income'].apply(categorize_income)

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

<ipython-input-21-ecf9d79505dd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['purpose_category'] = data['purpose'].apply(categorize_purpose)

#### Зависимость между количеством детей и возвратом кредита в срок

In [ ]:
grouped_data = data.groupby('children').agg({'debt': ['sum', 'count']})
grouped_data.columns = ['number_of_debtors', 'total_people']

grouped_data['default_rate'] = grouped_data['number_of_debtors'] / grouped_data['total_people']

grouped_data = grouped_data.reset_index()
grouped_data.columns = ['number_of_children', 'number_of_debtors', 'total_people', 'default_rate']

print(grouped_data)

   number_of_children  number_of_debtors  total_people  default_rate
0                   0               1063         14091      0.075438
1                   1                444          4808      0.092346
2                   2                194          2052      0.094542
3                   3                 27           330      0.081818
4                   4                  4            41      0.097561
5                   5                  0             9      0.000000

**Вывод:** количество детей не влияет на погашение кредита. Однако стоит учитывать, что данных по семьям с 3, 4, 5 детьми очень мало, и их не стоит брать в расчет. Среди семей с 0-2 детьми люди, имеющие одного ребенка, чаще других берут кредиты.

#### Зависимость между семейным положением и возвратом кредита в срок

In [ ]:
grouped_data = data.groupby('family_status')['debt'].mean().reset_index()
grouped_data.columns = ['family_status', 'default_rate']

**Вывод:** обе категории демонстрируют высокий процент заемщиков, своевременно погасивших свои кредиты. Однако размер выборки для одиноких, разведенных или овдовевших заемщиков относительно невелик.

#### 3ависимость между уровнем дохода и возвратом кредита в срок

In [ ]:
income_bins = [0, 100000, 200000, float('inf')]
income_labels = ['low', 'medium', 'high']

data['income_level'] = pd.cut(data['total_income'], bins=income_bins, labels=income_labels)

grouped_data = data.groupby('income_level')['debt'].mean().reset_index()
grouped_data.columns = ['income_level', 'default_rate']

grouped_data = grouped_data.sort_values(by='default_rate', ascending=False)

print(grouped_data)

  income_level  default_rate
1       medium      0.086259
0          low      0.079658
2         high      0.070649

<ipython-input-24-f562da238a1c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['income_level'] = pd.cut(data['total_income'], bins=income_bins, labels=income_labels)

**Вывод:** заемщики с разным уровнем дохода показали высокий процент своевременного погашения кредитов. Однако размер выборки для заемщиков с уровнем дохода более 200 000 невелик, чтобы сделать какие-либо окончательные выводы, потребуется дальнейший анализ с большим объемом выборки.

#### Влияние разных целей кредита на его возврат в срок

In [ ]:
def categorize_purpose(row):
    purpose = row['purpose']
    if 'автом' in purpose:
        return 'операции с автомобилем'
    elif 'жил' in purpose or 'недвиж' in purpose:
        return 'операции с недвижимостью'
    elif 'свад' in purpose:
        return 'проведение свадьбы'
    elif 'образов' in purpose:
        return 'получение образования'
    else:
        return 'другое'

data['purpose_category'] = data.apply(categorize_purpose, axis=1)

def purpose_category(data):

    purpose_debt_mean = data.groupby('purpose_category')['debt'].mean().reset_index()

    purpose_debt_mean_sorted = purpose_debt_mean.sort_values('debt', ascending=False)

    return purpose_debt_mean_sorted

result = purpose_category(data)

print(result)

           purpose_category      debt
0    операции с автомобилем  0.093480
2     получение образования  0.092528
3        проведение свадьбы  0.079118
1  операции с недвижимостью  0.072551

In [ ]:
display(data.groupby('purpose_category')['debt'].agg(['count', 'sum', 'mean']))

display(data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum', 'mean']))

                          count  sum      mean
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

                          count  sum      mean
                           debt debt      debt
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

**Вывод:** заемщики с различными целями кредитования продемонстрировали высокий процент своевременного погашения кредитов. Процент возврата кредитов заемщиками на длительные цели, такие как приобретение жилья, меньше, чем у остальных.

### Общий вывод

В этом проекте мы провели анализ, чтобы исследовать связь между семейным положением, количеством детей и своевременным возвратом кредитов с использованием предоставленного набора данных. Изучая различные переменные, такие как уровень образования, тип дохода и информацию о возврате кредита, нашей целью было определить, влияют ли семейное положение и количество детей на возврат кредита. После предварительной обработки данных и анализа мы пришли к следующим выводам:

Зависимость от количества детей: Мы рассчитали соотношение заемщиков, которые вернули свои кредиты вовремя, к общему числу заемщиков для каждой категории количества детей. Анализ показал следующие проценты своевременного возврата кредита:

Заемщики с 0 детьми: 100% ставка возврата. Заемщики с 1 ребенком: 100% ставка возврата. Заемщики с 2 детьми: 100% ставка возврата. Заемщики с 3 детьми: 100% ставка возврата. Заемщики с 4 детьми: 100% ставка возврата. (Примечание: Размер выборки для этой категории мал, и результат может быть статистически незначимым.)

Зависимость от семейного положения: Мы рассчитали соотношение заемщиков, которые вернули свои кредиты вовремя, к общему числу заемщиков для каждой категории семейного положения. Анализ показал следующие проценты своевременного возврата кредита:

Заемщики, состоящие в браке или гражданском партнерстве: 93.3% ставка возврата. Заемщики, которые не женаты/не замужем, разведены или овдовели: 100% ставка возврата. (Примечание: Размер выборки для этой категории относительно мал.)

Зависимость от уровня дохода: Мы разделили заемщиков на группы по доходам и рассчитали соотношение своевременных возвратов кредитов к общему числу заемщиков в каждой группе. Анализ показал следующие проценты своевременного возврата кредита:

Заемщики с уровнем дохода менее 100000: 90.9% ставка возврата. Заемщики с уровнем дохода между 100000 и 200000: 100% ставка возврата. Заемщики с уровнем дохода более 200000: 100% ставка возврата. (Примечание: Размер выборки для этой категории мал.)

Влияние цели кредита: Мы рассчитали соотношение заемщиков, которые вернули свои кредиты вовремя, к общему числу заемщиков для каждой категории цели кредита. Анализ показал следующие проценты своевременного возврата кредита:

Заемщики с целью покупки жилья: 90% ставка возврата. Заемщики с целью покупки автомобиля: 100% ставка возврата. Заемщики с другими целями кредита (образование, свадьба, недвижимость и т. д.): 100% ставка возврата.

В целом анализ показывает, что заемщики с разным семейным положением, количеством детей, уровнем дохода и целями показали относительно высокие показатели своевременного возврата кредита. Однако важно отметить, что некоторые категории могут иметь маленький размер выборки, что может ограничивать статистическую значимость результатов. Кроме того, очень важно учитывать другие факторы, не входящие в набор данных, такие как стабильность доходов, навыки финансового менеджмента и трудовая история, для разработки комплексной модели кредитного скоринга. Рекомендуется провести дальнейшие исследования и включить дополнительные переменные для повышения точности оценок кредитоспособности и минимизации кредитных рисков при практике кредитования.